* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: block;
}

.box {
    width: 100%;
    height: 100px;
    background: rgb(159, 177, 200);
    display: block;
}

span {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
}

.fa-user {
    color: black;

}

.fa-paperclip {
    color: black;
}

.fa-envelope {
    color: #f1f1f1;
}

.fa-square-facebook {
    color: blue;
}

.fa-heart {
    color: red;
}

a {
    color: mediumspringgreen;
}

.montserrat {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    color: rgb(8, 255, 144);
}

.title {
    transition: opacity 0.1s ease-in;

}

.box2 {
    width: 70%;
    height: 300px;
    background-color: rgb(126, 181, 185);
    border-radius: 0 0 40% 40%;
    margin: 0 auto;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(236, 80, 80);
    text-align: center;
    font-size: 30px;

}

.dancing-script-uniquifier {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(95, 176, 96);
    text-align: center;
}

p {
    font-size: 20px;
    color: rgb(247, 13, 231);

}

.img {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    color: red;
    text-align: center;

}

.img img {
    width: 200px;
    height: 200px;
    border-radius: 80%;
    object-fit: cover;
}