* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body {
    background: url('https://png.pngtree.com/thumb_back/fw800/background/20230112/pngtree-transparent-water-drop-water-pattern-water-wave-water-drop-dew-layered-image_1510729.jpg');
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(228, 228, 228);
}

p {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    border-radius: 50% 50%;
    margin-top: 30px;
}

.fa-discord {
    font-size: 100px;
    margin-left: 90px;
    margin-top: 50px;
    color: rgb(85, 36, 199);
}

.fa-facebook {
    font-size: 100px;
    margin-left: 90px;
    margin-top: 50px;
    color: blue;
}

.fa-envelope {
    font-size: 100px;
    margin-left: 90px;
    margin-top: 50px;
    color: rgb(13, 188, 71);
}

.fa-phone {
    font-size: 100px;
    margin-left: 90px;
    margin-top: 50px;
    color: rgb(33, 33, 33);
}